* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "poppings", sans-serif;
}

.navbar {
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 0, 0);
    border: 1px transparent;
    padding: 0 30px 0 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
    top: 0;
    z-index: 1000;
}

.logo {
    width: 15%;
    height: 8vh;
    cursor: pointer;
    color: white;
    /* background-color: green; */

}

.navbar ul {
    width: 750px;
    height: 50px;
    display: flex;
    list-style-type: none;
    /* background-color: blue; */
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 150px;
    height: 90px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.websiteicon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(212, 33, 61);
}

.socialicons {
    font-size: 20px;
    color: white;

}

.boxi {
    margin-left: 6px;
}

.Smelled {
    width: 100%;
    height: 110vh;
    background-image: url(./Pics/headbanerFlaris-min-min.jpg);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0 25px 0;
}

.Smelled img {
    width: 100%;
    height: 100%;

}

.smelled1 {
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */

}

.smelled {
    margin: 0 auto;
    /* text-align: center; */
    width: max-content;
    height: 50px;
    color: rgb(0, 170, 255);
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.smelled i {
    margin: 0 10px;
}

.smelled h3 {
    width: max-content;
    height: max-content;
    font-size: 25px;
}

.Smelled h1 {
    color: white;
    text-align: center;
}

.smelled i {
    /* font-size: 8px; */
}

.smelledi1 {
    /* margin-left:500 ; */
}

.smelledi3 {
    color: white;
    text-align: center;
    /* background-color: red; */
    margin-top: 25px;
}

.parent {
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 241, 247);
    padding: 70px 200px 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.aviationheading {
    width: 550px;
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.aviationheading i {
    margin: 0 auto;
    color: rgb(0, 170, 255);
}

.aviationheading h2 {
    font-size: 30px;
    font-weight: 400;
    color: rgb(123, 69, 51)
}

.aviationdetail {
    width: 700px;
    height: 350px;
}

.aviationdetail1 {
    width: max-content;
    color: rgb(123, 69, 51);
    text-align: center;
    height: max-content;
}

.aviationdetail2 {
    width: max-content;
    color: rgb(123, 69, 51);
    height: max-content;
    text-align: center;
    margin-top: -12px;
}

.aviationvideo {
    width: 400px;
    height: 225px;
    border-radius: 15px;
    background-color: red;
    overflow: hidden;
}

.aviationvideo img {
    width: 100%;
    height: 100%;
}

.costparent {
    width: 100%;
    height: 65vh;
    /* background-color: red; */
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    flex-direction: column;
    padding: 50px 0px 50px 0;

}

.costheading {
    width: 625px;
    height: 50px;
    /* background-color: red; */
    color: rgb(70, 54, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.costheading i {
    margin: 0 auto;
    color: rgb(0, 170, 255);
}

.costheading h1 {
    font-size: 30px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.costdetail {
    width: 800px;
    height: 150px;
    /* background-color:red; */

}

.cost1 {
    width: 800px;
    height: 40px;
    /* background-color:red;   */
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 70px;
}

.cost2 {
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;
    width: 800px;
    height: 40px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;

}

.tableparent {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 0 10%;
}
.tableheading{
    width:100%;
    height:15vh;
    background-color:rgb(237, 237, 237);
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* border: 1px solid rgb(0, 0, 0,0.5); */

}
.th1,
.th2,
.th3{
    width:33%;
    height:15vh;
    /* background-color:red; */
    display: flex;
    justify-content: space-between;
}
.th11,
.th22,
.th33{
    width:40%;
    height:15vh;
    /* background-color:yellow; */
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0,0.7);

}
.hidden{
    width:60%;
    height: 15vh;
    display: flex;
    justify-self:center;
    align-items: center;
    /* background-color: black; */
}
.hidden img{
    width: 40%;
    height: 7%;

}
.tableheading1{
    width:100%;
    height:15vh;
    background-color:rgb(221,235,247);
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: 1px solid rgb(0, 0, 0,0.5);
}
.tableheading2{
    width:100%;
    height:15vh;
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: 1px solid rgb(0, 0, 0,0.3);
    margin-top:20px
}
.th4{
    width:33%;
    height:15vh;
    /* background-color:red; */
    display: flex;
    justify-content: space-between;
}

.th211,
.th222,
.th233{
    width:40%;
    height:15vh;
    /* background-color:yellow; */
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(0, 0, 0,0.7);

}

.lar01parent {
    width: 100%;
    height: 120vh;
    background-image: url(./Pics/Flaris_LAR-1_1600px-53.jpg);
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.lar01parent img {
    width: 100%;
    height: 100%;

}

.lar01heading {
    width: 800px;
    height: 200px;
    /* background-color:yellow; */
}

.flarislar01heading {
    width: 300px;
    height: 75px;
    /* background-color: red; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.flarislar01heading i {
    margin: 0 auto;
    color: rgb(0, 170, 255);
}

.flarislar01heading h1 {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.lar01heading p {
    width: 800px;
    height: 40px;
    /* background-color:red;   */
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}

.lar01footer {
    width: 100%;
    height: 35vh;
    background-color: black;
    /* margin-top:20px; */
    position: relative;
    top: -125px;
    display: flex;
}

.button01 {
    width: 300px;
    height: 150px;
    margin-left: 400px;

}

.button01 h1 {
    margin-top: -1px;
    color: white;
}

.button01 button {
    width: 225px;
    height: 50px;
    border: 1px solid rgb(0, 170, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.button01 button h3 {
    color: rgb(0, 170, 255);

}

.button01 button i {
    color: white;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 2px;
}

.button02 {
    width: 300px;
    height: 150px;
}

.button02 h1 {
    margin-top: -1px;
    color: white;
}
.button01 button:hover{
    color: white;
    background-color: rgb(0, 170, 255);
}
.button01:hover h3 {
    color:white;
}
.button02 button:hover{
    color: white;
    background-color: rgb(0, 170, 255);
}
.button02:hover h3 {
    color:white;
}

.button02 button {
    width: 275px;
    height: 50px;
    border: 1px solid rgb(0, 170, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.button02 button h3 {
    color: rgb(0, 170, 255);

}

.button02 button i {
    color: white;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 2px;
}


.pressparent {
    width: 100%;
    height: 75vh;
    background-color: rgb(30, 30, 30);
    padding: 1px;
    /* margin:auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:-125px;

}

.pressheading {
    width: 500px;
    height: 50px;
    /* background-color: red; */
    color: rgb(70, 54, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pressheading i {
    margin: 0 auto;
    color: white;
}

.pressheading h1 {
    font-size: 33px;
    font-weight: 300;
    color: white;
}

.btn {
    width: 175px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top:35px;
    transition: all 0.3s;
    cursor: pointer;
}


.readMore {
    color: white;
    transition: .3s linear;
}

.btn i {
    color: rgb(0, 170, 255);
    font-size: 12px;
    margin-left: 5px;
    margin-top: 2px;
}
.btn:hover{
    background-color: white;
}
.btn:hover *{
    color:rgb(0, 170, 255);
}
.homefooter{
    width: 100%;
    height:85vh;
    background-color:rgb(0,22,45);
    padding: 0 120px 0 120px;
    

}
.homef01{
    width:100%;
    height:55vh;
    display:flex;
    padding:50px 120px 0 0;
    justify-content: space-between;
    /* background-color:red; */

}
.homelegal{
    width:20%;
    height: 45vh;
    /* background-color:yellow; */
    color: white;
}
.homelegal h3{
    font-size:15px;
    color: rgb(255, 255, 255);
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
}
.homelegal1{
    margin-top:40px;
    /* background-color: red; */
}
.homelegal ul li {
    list-style-type:none;
    font-size: 15px;
    font-weight:400;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(204,204,204);
}
.homeabout{
    width:20%;
    height: 45vh;
    color: white;
    /* background-color:black; */
}
.homeabout h3{
    font-size:15px;
    color: rgb(255, 255, 255);
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
}
.homeabout1{
    margin-top:40px;
    /* background-color: red; */
}
.homeabout ul li {
    list-style-type:none;
    font-size: 15px;
    font-weight:400;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(204,204,204);
}
.homeinformation{
    width:20%;
    height: 45vh;
    color: white;
}
.homeinformation h3{
    font-size:15px;
    color: rgb(255, 255, 255);
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
}
.homeinformation1{
    margin-top:40px;
    /* background-color: red; */
}
.homeinformation ul li {
    list-style-type:none;
    font-size: 15px;
    font-weight:400;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(204,204,204);
}
.homesignup{
    width:40%;
    height: 45vh;
    color: white;
    /* background-color:yellow; */
    /* background-color:blue; */
}
.form1{
    width:400px;
    height: 50px;
    background-color:white;
    border-radius:10px;
    margin-top: 20px;
    padding: 10px 20px;
}
.form2{
    width:400px;
    height: 50px;
    /* background-color:transparent; */
    border-radius:10px;
    margin-top:10px;
    border:2px solid white;
    box-sizing:border-box;
    position:relative;
    /* text-align: center;
    vertical-align: middle; */


}
.form21{
    color:white;
    position:absolute;
    left:170px;

    
}
.form22{
    color:white;
    /* text-align: center; */
    /* vertical-align: middle; */
    position:absolute;
    left:210px;
    top:18px;
    visibility:hidden;

}
.form2:hover{
    border: 2px solid transparent;   

}
.form2:hover .form21{
    opacity: 1;
    margin-left:-20px;
}
.form2:hover .form22{
    visibility:visible;
    margin-left:10px;
}
.homef02{
    width: 100%;
    height:25vh;
    /* background-color: red; */
}
.homefooterempty{
    width: 100%;
    height:0.25vh;
    background-color:rgb(0, 170, 255);
    /* margin: 0 auto; */

}
.homerights{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.homerights p{
    margin-top:30px;
    /* margin:auto 0; */
    color:white;
}