* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "poppings", sans-serif;
}

.navbar {
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 0, 0);
    border: 1px transparent;
    padding: 0 30px 0 75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
    top: 0;
    z-index: 1000;
}

.logo {
    width: 15%;
    height: 8vh;
    cursor: pointer;
    color: white;
    /* background-color: green; */

}

.navbar ul {
    width: 750px;
    height: 50px;
    display: flex;
    list-style-type: none;
    /* background-color: blue; */
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 150px;
    height: 90px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.websiteicon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(212, 33, 61);
}

.socialicons {
    font-size: 20px;
    color: white;

}

.boxi {
    margin-left: 6px;
}

.Smelled {
    width: 100%;
    height: 110vh;
    background-image: url(../headbanerFlaris-min-min.jpg);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0 25px 0 ;
}

.Smelled img {
    width: 100%;
    height: 100%;
    
}
.smelled1{
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */

}
.smelled{
    margin: 0 auto;
    /* text-align: center; */
    width: max-content;
    height: 50px;
    color: rgb(0,170,255);
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.smelled i{
    margin: 0 10px;
}
.smelled h3{
    width: max-content;
    height: max-content;
    font-size: 25px;
}
.Smelled h1{
    color: white;
    text-align: center;
}
.smelled i{
    /* font-size: 8px; */
}
.smelledi1{
    /* margin-left:500 ; */
}
.smelledi3{
    color: white;
    text-align: center;
    /* background-color: red; */
    margin-top: 25px;
}